$mdc-theme-primary: #212121; // Purple 500
$mdc-theme-secondary: #41B883; // Orange A200
$mdc-theme-background: #fff; // White
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


nav .brand-logo {
  position: relative;
  padding: 10px;
  @media #{$large-and-up} {
    margin-left: 20px;
  }
  @media #{$small-and-down} {
    padding: 0;
  }
  img {
    max-width: 75px;
    @media #{$small-and-down} {
      max-width: 55px;
      padding-top: 0;
    }
  }
}

.main-container {
  width: 100%;
}

.no-results h4 {
  i {
    font-size: 1.5rem;
    display: inline-block;
  }
  span {
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
  }
}

.results-count {
  span {
    font-weight: bold;
  }
}

.search-field {
  min-width: 200px;
  @media #{$large-and-up} {
    min-width: 275px;
  }
}

nav .nav-title {
  @media #{$medium-and-down} {
    font-size: 1.3rem
  }
  @media #{$small-and-down} {
    z-index: 2;
    line-height: 1em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 70px;
    position: absolute;
  }
}

.cards-container .card {
  margin-bottom:45px;
}

.card-action a {
  cursor: pointer;
}

.top-right {
  z-index: 2;
  position: absolute;
  top:0;
  right:0;
  .modal-close-btn {
    background:#000;
    color:#fff;
    border:none;
  }
}

button {
  cursor:pointer;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
